<div class='recipe'>
  <div>
    <%= link_to recipe_path(recipe) do %>
      <h2><%= recipe.name %></h2>
    <% end %> 
    <%= button_to 'Remove', recipe_url(recipe), method: :delete %>
  </div>
  <p><%= recipe.description %></p>
</div>