<div class="dflex-row show-public">
  <p>Public</p>
  <label class="switch">
    <input type="checkbox"
      <% unless !public %>
        checked
      <% end %>
    disabled=true>
    <span class="slider round"></span>
  </label>
</div>