<section class="section-full-page">
  <div class="recipe form-container">
    <h1>New Recipe</h1>
    <%= render "form", post: @recipe %>
    <%= link_to recipes_path do%>
      <button class="back-to-recipes">Back to Recipes</button>
    <% end %>
  </div>
</section>
