<section class="section-full-page">
  <div class="recipe form-container">
    <h1>Add Ingredient</h1>
    <%= render "form" %>
    <%= link_to recipe_path(params[:recipe_id]) do%>
      <button class="back-to-recipes">Back to Recipe</button>
    <% end %>
  </div>
</section>

  